main {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 15px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.inputs {
  padding: 20px;
}

.input {
  &, & + label {
    padding: 12px 20px;
    font-size: 1.5rem;
    color: #555555;
    font-family: inherit;
    background: rgba(0, 0, 0, 0.05);
    font-weight: 700;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &[type='text'] {
    display: block;
    outline: 0;
    border: 0;
    grid-column: 1 / span 2;

    &::placeholder {
      color: rgba(135, 135, 135, 0.5);
    }
  }

  &[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      cursor: pointer;
      border: 2px dashed rgba(135, 135, 135, 0.5);
      min-height: 200px;
    }
  }
}

.button {
  padding: 14px 56px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 500px;
  cursor: pointer;
  outline: 0;
  border: 0;
  font-size: 1rem;
  color: white;
  white-space: nowrap;
  background: transparent;
  border: 2px solid white;

  &.button--primary {
    background: #1DB954;
    border: 2px solid #1DB954;

    &:hover {
      background: #1ED760;
    }
  }

}
