@import 'reset';

html, body {
  font-family: 'Avenir Next', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background: rgb(44,94,146);
  background: linear-gradient(90deg, rgba(44,94,146,1) 0%, rgba(85,47,109,1) 100%);
  color: #ffffff;
  font-size: 14pt;
  font-weight: 400;
}

canvas {
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 10px;

  & > * {
    animation: fade-up 1s forwards;
    opacity: 0;

    $index: 4;
    @while $index > 0 {
      &:nth-child(#{$index}) {
        animation-delay: $index * 100ms;
      }
      $index: $index - 1;
    }
  }
}

header {
  display: flex;
  align-items: baseline;
  padding: 20px 0;

  h1 {
    font-size: 2rem;
    flex-grow: 1;
    font-weight: 700;
  }

  nav ul {
   display: flex; 

   li {
     &:not(:last-child) {
       margin-right: 10px;
     }
   }
  }
}

.inputs {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0px;
}

.input {
  &, & + label {
    padding: 12px 20px;
    font-size: 1.5rem;
    color: white;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.05);
    font-weight: 700;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &[type='text'] {
    display: block;
    outline: 0;
    border: 0;
    grid-column: 1 / span 2;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

.button {
  padding: 14px 56px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 500px;
  cursor: pointer;
  outline: 0;
  border: 0;
  font-size: 1rem;
  color: white;
  white-space: nowrap;
  background: transparent;
  border: 2px solid white;

  &.button--primary {
    background: #1DB954;
    border: 2px solid #1DB954;

    &:hover {
      background: #1ED760;
    }
  }

}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
